/* FONTES PERSONALIZADAS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Roboto&display=swap');
/*  font-family: 'Bebas Neue', cursive; CONTEUDO
    font-family: 'Pacifico', cursive; TITULOS
    font-family: 'Roboto', sans-serif; DIVERSOS
*/

/* =================================== PRIMEIRA PÁGINA ===================================*/

/* ============== RESET ============== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-pink: #FFE3F0;
    --pink: #FF7EBB;

    --background-blue: #A4E5EB;
    --blue: #83CCD3;

    --background-salmon: #FFCBB0;
    --salmon: #EC8C8D;

    --background-brown: #845E3F;
    --brown: #DDA06F;
}

body {overflow-x: hidden; font-family: 'Roboto', sans-serif;}

/* =================================== */

/* ============ CONTAINER ============ */
.container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "section"
                         "footer" ;
}
/* =================================== */

/* ============= HEADER ============== */
header {
    grid-area: header;

    background: transparent;
    width: 100%;
    height: 20vh;
    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    z-index: 1000;
}

header .logo {
    width: 110px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .3s;
}

nav ul li a:hover {
    color: var(--pink);
}
/* =================================== */

/* =============== MAIN ============== */
main {
    grid-area: main;
    
    background: var(--background-pink);
    width: 100%;
    height: 100vh;
    padding: 200px;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
    z-index: 0;
}

main .dec-1 {
    height: 45vh;

    top: 0;
    left: 0;

    position: absolute;
    z-index: 10;
}

main .dec-2 {
    height: 55vh;
    
    bottom: 0;
    right: 0;

    position: absolute;
    z-index: 10;
}

main .copo {
    height: 80vh;
    transform: rotate(20deg);

    top: 15%;
    right: 5%;

    position: absolute;
    z-index: 100;
}

main .copo:hover {
    transition: all .5s;
    transform: scale(1.2);
}

main .titulo {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    letter-spacing: 4px;
    color: #6B4216;
    
    position: relative;
}

main .titulo .dec {
    width: 50%;

    position: absolute;
    left: 46.5%;
    bottom: -20%;
}

main .titulo .dec:hover {
    transition: .3s;
    transform: scale(0.8);
}
/* =================================== */

/* ============= SECTION ============= */
section {
    grid-area: section;

    width: 100%;
}
/* =================================== */

/* =========== SEGUNDA TELA ========== */
.tela-2 {
    background: var(--background-blue);
    width: 100%;
    height: 100vh;
    padding: 0 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    z-index: 1;
}

.tela-2 .dec {
    height: 55vh;
    
    top: 0;
    right: 0;

    position: absolute;
    z-index: 10;
}

.tela-2 .cafe {
    height: 90vh;
    
    bottom: 0;
    left: 0;

    position: absolute;
    z-index: 10;
}

.tela-2 .titulo {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    letter-spacing: 4px;
    color: #6B4216;
    line-height: 80px;
}

.tela-2 .composicao {
    margin-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    color: #E4A06E;
    letter-spacing: 2px;
}
/* =================================== */

/* ========== TERCEIRA TELA ========== */
.tela-3 {
    background: var(--background-salmon);
    width: 100%;
    height: 100vh;

    position: relative;
    z-index: 1;
}

.tela-3 .dec {
    height: 75vh;

    bottom: 0;
    left: 0;

    position: absolute;
    z-index: 10;
}

.tela-3 .titulo {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    letter-spacing: 4px;
    color: #92644D;
    margin-left: 200px;
    padding-top: 50px;

    position: relative;
    z-index: 100;
}

.tela-3 .composicao {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    color: #FFCBB0;
    margin-left: 150px;
    padding-top: 50px;
    letter-spacing: 2px;

    position: relative;

    z-index: 100;
}

.tela-3 .copo {
    height: 80vh;

    top: 15%;
    right: 5%;

    position: absolute;
    z-index: 100;
}


/* =================================== */

/* =========== QUARTA TELA =========== */
.tela-4 {
    background: var(--background-brown);
    width: 100%;
    height: 100vh;
    padding: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: relative;
    z-index: 1;
}

.tela-4 .dec-1 {
    height: 40vh;

    top: 0;
    left: 0;

    position: absolute;
    z-index: 10;
}

.tela-4 .dec-2 {
    height: 50vh;

    bottom: 0;
    right: 0;

    position: absolute;
    z-index: 10;
}

.tela-4 .celular {
    height: 100vh;
    top: 2%;
    left: 5%;

    position: absolute;
    z-index: 100;
}

.tela-4 .titulo {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #DDA06E;

    z-index: 100;
}

.tela-4 .composicao {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    color: #FFCBB0;  
    margin: 30px 0;
    
    letter-spacing: 2px;
}

.tela-4 .icon {
    width: 48px;
    margin-right: 15px;
}

/* ============= FOOTER ============== */

footer {
    grid-area: footer;

    background: white;
    width: 100%;
    height: auto;
}

footer .flex-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    margin: 50px 100px;
}

footer .logo {
    width: 110px;
}

footer .titulo {
    color: var(--pink);
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

footer .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .icon {
    margin-right: 5px;
    width: 24px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-transform: uppercase;
}

footer a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
    transition: .3s;
}

footer a:hover {
    color: var(--pink);
}

footer .copyright {
    background-color: var(--pink);

    width: 100%;
    height: auto;
    padding: 20px 0;

    color: white;
    font-size: 1.3em;
    text-align: center;
}

/* =========== SCROLL BAR ============ */
::-webkit-scrollbar {background: transparent; width: 7px;}
::-webkit-scrollbar-thumb {background-color: var(--pink);}
/* =================================== */

/* ====================================================================================== */

/* ==================================== SEGUNDA PÁGINA ===================================*/

.produtos-content {
    width: 100%;
    min-height: 100vh;
    padding: 50px;
}

.produto {
    width: 100%;
    height: auto;
    align-items: center;
}

.produto .menu {
    width: 35px;
    height: 30px;
    margin-right: 10px;

    position: relative
}

.produto .menu::before {
    content: '';
    background-color: var(--pink);
    border-radius: 10px;

    width: 60%;
    height: 6px;
    top: 35%;
    left: 0;
    
    transform: rotate(-135deg);
    transition: .6s;

    position: absolute;
}

.produto .menu::after {
    content: '';
    background-color: var(--pink);
    border-radius: 10px;

    width: 60%;
    height: 6px;
    top: 35%;
    left: 30%;
    
    transform: rotate(135deg);
    transition: .6s;

    position: absolute;
}

button.active .menu::before {
    transform: rotate(45deg);
    left: 20%;
    width: 70%;
}

button.active .menu::after {
    transform: rotate(-45deg);
    left: 20%;
    width: 70%;
}

.produto button {
    display: flex;
    align-items: center;

    background: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    font-size: 40px;
    color: var(--pink);
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
}

.abas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b"
                         "c d"
                         "e f"
    ;
    
    width: 100vw;
    height: auto;
    padding: 20px 50px;

    display: none;
}

.produto #cont1 {
    background: red;
    grid-area: a;
}

.produto #cont2 {
    background: blue;
    grid-area: b;
}

.produto #cont3 {
    background: green;
    grid-area: c;
}

.produto .content {
    display: flex;
    gap: 20px;
    height: 10vh;
    width: 300px;
}

.produto .content img {
    width: 200px;
    border-radius: 20px;
}

.produto hr {
    background-color: var(--background-pink);
    border: none;
    border-radius: 2px;
    
    width: 100%;
    height: 2px;
}
/* ====================================================================================== */
